@import "tailwindcss";

@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../public/fonts/Poppins-Regular.ttf") format("truetype");
}

body {
	background-image: linear-gradient(
		to right top,
		#241717,
		#4d1a1b,
		#75171a,
		#9d0f13,
		#c50000
	);
	height: 100vh;
	color: #ffffff;
	font-family: "Poppins", sans-serif;
}

span {
	font-weight: bold;
}